// General styles
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #fff;
}

img {
  width: 100%;
}
