@import url(http://web.br.de/interaktiv/assets/libraries/leaflet/leaflet.v0.min.css);

#map {
  width: 100%;
  height: 100%;

  a {
    box-shadow: none;
  }

  &.leaflet-container {
    background: $white;
  }

  div.leaflet-popup {
    pointer-events: none;
  }
}

#map-wrapper {
  margin-bottom: .5em;
}

#waypoint {
  cursor: pointer;
}

.g-map-legend.map {

  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;

  div {
    display: inline-block;
    vertical-align: top;
  }

  .g-legend-title {
    font-size: 14px;
    font-weight: 600;
  }

  .g-map-innerlegend {
    font-size: 13px;


    .g-legend-class {
      width: 36px;
      height: 10px;
      opacity: 0.8;
    }
    .g-tic {
      position: relative;
      border-right: 1px solid #444;
      height: 14px;
    }

    .g-ticnum {
      position: absolute;
      left: -12px;
      width: 24px;
      top: 15px;
    }

    .g-class-0 {
      background-color: #d81d09;
    }
    .g-class-1 {
      background-color: #f9842d;
    }
    .g-class-2 {
      background-color: #ffc166;
    }
    .g-class-3 {
      background-color: #f7eec1;
    }
    .g-class-4 {
      background-color: #dfedf7;
    }
    .g-class-5 {
      background-color: #a7c9ea;
    }
  }
}

.orange {
  color: #FDA363
}

.leaflet-container {
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
}

.leaflet-popup-content {
  margin: 7px 12px;
}
