@import url(http://web.br.de/interaktiv/assets/libraries/leaflet/leaflet.v0.min.css);

#map {
  width: 100%;
  height: 100%;

  a {
    box-shadow: none;
  }

  &.leaflet-container {
    background: $white;
  }

  div.leaflet-popup {
    pointer-events: none;
  }
}

#map-wrapper {
  margin-bottom: .5em;
}

#waypoint {
  cursor: pointer;
}

.legend {
  padding: 1em 1em 2em 1em;

  div {
    display: inline-block;
    vertical-align: top;
  }

  .title {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: .5em;
    text-shadow: 1px 1px 1px #F5F5F3, -1px -1px 1px #F5F5F3;
  }

  .inner {
    font-size: 13px;

    .class {
      width: 44px;
      height: 10px;
      opacity: .8;
    }

    .tick {
      position: relative;
      border-right: 1px solid $black;
      height: 14px;
    }

    .label {
      position: absolute;
      left: -12px;
      width: 24px;
      top: 15px;
      text-shadow: 1px 1px 1px #F5F5F3, -1px -1px 1px #F5F5F3;
    }
  }
}

.orange {
  color: #FDA363;
}

.leaflet-container {
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
}

.leaflet-popup-content {
  margin: 7px 12px;
}
